# Auto detect text files and perform LF normalization
*text=auto eol=lf

# Generated codes
index.js                         linguist-detectable=false
index.d.ts                       linguist-detectable=false
process-list.wasi-browser.js linguist-detectable=false
process-list.wasi.cjs        linguist-detectable=false
wasi-worker-browser.mjs          linguist-detectable=false
wasi-worker.mjs                  linguist-detectable=false
